.Wrapper {
  position: relative;
  width: fit-content;
}
.PhoneField {
  margin-right: 0rem;
  height: 60px;
  width: 90vw;
  border-radius: 0.5rem;
  border: none;
  background-color: #5646c0;
  padding: 0 1rem;
  color: white;
  font-size: 1.1rem;
  z-index: 3;
}
.PhoneField:focus {
  color: white;
  font-size: 1.1rem;
  border: none;
  outline: none;
  z-index: 3;
}

.PhoneField:active {
  color: white;
  font-size: 1.1rem;
  border: none;
  outline: none;
  z-index: 3;
}

.PlaceHolder {
  position: absolute;
  pointer-events: none;
  color: white;
  left: 20px;
  top: 50%;
  transform-origin: 0 100%;
  transform: translateY(-50%);
  z-index: 1;
  transition: all 0.2s ease;
}
.PhoneField:focus ~ .PlaceHolder {
  position: absolute;
  left: 20px;
  top: 0%;
  transform: translateY(10%) scale(0.7);
  z-index: 1;
  transition: all 0.2s ease;
}

.PhoneField:active ~ .PlaceHolder {
  position: absolute;
  left: 20px;
  top: 0%;
  transform: translateY(10%) scale(0.7);
  z-index: 1;
  transition: all 0.2s ease;
}
.PhoneField:checked ~ .PlaceHolder {
  position: absolute;
  left: 20px;
  top: 0%;
  transform: translateY(10%) scale(0.7);
  z-index: 1;
  transition: all 0.2s ease;
}
@media (min-width: 550px) {
  .PhoneField {
    height: 60px;
    width: 550px;
    border-radius: 0.5rem;
    border: none;
    background-color: #5646c0;
    padding: 0 1rem;
    color: white;
    font-size: 1.1rem;
    z-index: 3;
  }
}
@media (min-width: 770px) {
  .PhoneField {
    height: 60px;
    width: 310px;
    border-radius: 0.5rem;
    border: none;
    background-color: #5646c0;
    padding: 0 1rem;
    color: white;
    font-size: 1.1rem;
    z-index: 3;
  }
}
